.slogan{
    font-size: 20px;
    text-align: center;
    font-family: monospace;
    color: black;
    font-size: 60px;
}
.header{
    background-image: url("https://images.sharefaith.com/images/3/1336666797325_141/img_mouseover3.jpg");
    background-size: 100%;
    height: 300px;
}
